h1{
  font-family: "sofia", Sans-Serif;
  font-size: 60px;
}
p{
  font-weight:bold;
  font-family: "Noto Sans" Sans-serif;
}
ul {
  font-weight:bold;
  font-family: cursive, Sans-Serif;
  font-size: 25px;
}